<!DOCTYPE html>

<head>
    <!-- Import style -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
    <link rel="stylesheet" href="https://unpkg.com/element-plus/theme-chalk/display.css">
    <!-- Import Vue 3 -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Import component library -->
    <script src="https://unpkg.com/element-plus"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>关于</title>
</head>

<body class="p-10">
    <div id="app">
        <el-container>
            <el-header>
                <header class="h-16 flex justify-between items-center bg-blue-600 p-4 fixed top-0 right-0 left-0">
                    <div id="logo" class="flex items-center">
                        <div class="flex items-center">
                        </div>
                    </div>
                    <div class="flex items-center space-x-4">
                        <form @submit.prevent="search" class="search">
                            <input type="text" v-model="searchTerm" placeholder="搜索..."
                                class="bg-gray-200 px-4 py-2 rounded-l-lg">
                            <button type="submit"
                                class="bg-blue-500 text-white px-4 py-2 rounded-r-lg hover:bg-blue-600">搜索</button>
                        </form>
                        <button @click="toggleShow"
                            class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 shadow-lg">投稿</button>

                </header>
            </el-header>
            <el-container class="bg-slate-100 fixed bottom-0 top-16 right-0 left-0" fill="fill">
                <el-container>
                    <el-main>
                        <el-container v-if="show"
                            class="input-box fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow-lg p-4"
                            style="z-index: 1000">
                            <div v-if="!submitMessage">
                                <!-- 添加URL输入框 -->
                                <el-space direction="vertical">
                                    <div>
                                        <input type="text" v-model="inputUrl" placeholder="请输入URL"
                                            class="w-full p-2 border rounded-lg mb-2">
                                    </div>
                                    <div>
                                        <!-- 添加分类选择器 -->
                                        <el-select v-model="inputCategory" class="m-2" placeholder="Select"
                                            size="large">
                                            <el-option v-for="item in options" :key="item.value" :label="item.label"
                                                :value="item.value" />
                                        </el-select>
                                    </div>
                                    <div>
                                        <el-row gutter="20">
                                            <el-col span="20">
                                                <button v-if="!submitMessage" @click="submit"
                                                    class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 shadow-lg">提交</button>
                                            </el-col>
                                            <el-col span="20">

                                                <button @click="dialogVisible = true"
                                                    class="bg-gray-400 text-white px-4 py-2 rounded-lg hover:bg-gray-500 shadow-lg">取消</button>
                                            </el-col>
                                        </el-row>

                                    </div>
                                </el-space>



                            </div>

                            <!-- 投稿成功信息 -->
                            <div v-else>
                                <div v-if="submitSuccess">
                                    <el-result icon="success" :title="submitMessage"></el-result>
                                </div>
                                <div v-else>
                                    <el-result icon="error" :title="submitMessage"></el-result>
                                </div>
                            </div>


                        </el-container>
                        <div>
                            <el-dialog v-model="dialogVisible" title="Tips" width="30%" draggable>
                                <span>确定取消吗</span>
                                <template #footer>
                                    <span class="dialog-footer">
                                        <el-button @click="dialogVisible = false">Cancel</el-button>
                                        <el-button type="primary" @click="handleConfirm" class="text-black">
                                            确定
                                        </el-button>
                                    </span>
                                </template>
                            </el-dialog>
                        </div>





                    </el-main>
                    <el-footer class="bg-blue-600 h-16 fixed bottom-0 left-0 right-0">
                        <el-text class="mx-1" type="primary">Made with <3</el-text>
                    </br>
                        <el-link href="https://element-plus.org" target="_blank" class="mx-1" type="primary">About</el-link>
                    </el-footer>

                </el-container>

            </el-container>
        </el-container>







    </div>
</body>
<script>
    const ElLoading = ElementPlus.ElLoading;

    const app = Vue.createApp({
        data() {
            return {
                inputText: '',
                options: [],
                searchTerm: '',
                show: false,
                inputUrl: '',
                inputCategory: '',
                submitSuccess: false,
                submitMessage: null,
                dialogVisible: false
            };
        },
        methods: {
            search: function () {
                if (!this.searchTerm) {
                    alert('搜索内容不能为空!');
                    return;
                }
                window.location.href = `search.html?s=${this.searchTerm}`;
            },
            openDialog() {
                console.log('openDialog');
                this.dialogVisible = true
            },
            closeDialog() {
                this.dialogVisible = false
            },
            toggleShow() {

                this.show = !this.show;
                console.log('toggleShow to ' + this.show);
            },
            hideInputBox() {
                this.show = false;
            },
            handleConfirm() {
                this.dialogVisible = false;
                this.hideInputBox();
            },
            async submit() {
                if (!this.inputUrl || !this.inputCategory) {
                    this.submitSuccess = false;
                    this.submitMessage = 'URL和分类不能为空!';
                    setTimeout(() => {
                        this.submitSuccess = false;
                        this.submitMessage = null;
                    }, 2000);
                    return;
                }
                try {
                    const response = await axios.post('http://localhost:8080/api/post/bili', {
                        url: this.inputUrl,
                        category: this.inputCategory
                    });
                    if (response.status == 200) {
                        this.inputUrl = '';
                        this.inputCategory = '';

                        this.submitSuccess = true;
                        this.submitMessage = '投稿成功!';

                        setTimeout(() => {
                            this.submitSuccess = false;
                            this.submitMessage = null;
                            this.show = false;
                        }, 2000);
                    } else {
                        console.error('Submit failed with status: ', response.status);
                    }
                } catch (error) {
                    console.error(error);
                }
            },
        },
        mounted() {
        },
    });

    app.use(ElementPlus);
    app.mount('#app');
</script>

<style>
    
</style>

</html>