<!DOCTYPE html>

<head>
    <!-- Import style -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
    <link rel="stylesheet" href="https://unpkg.com/element-plus/theme-chalk/display.css">
    <!-- Import Vue 3 -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Import component library -->
    <script src="https://unpkg.com/element-plus"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>分类</title>
</head>

<body class="p-10">
    <div id="app">
        <el-container>
            <el-header>
                <header class="h-16 flex justify-between items-center bg-blue-600 p-4 fixed top-0 right-0 left-0">
                    <div id="logo" class="flex items-center">
                        <div class="flex items-center">
                        </div>
                    </div>
                    <div class="flex items-center space-x-4">
                        <form @submit.prevent="search" class="search">
                            <input type="text" v-model="searchTerm" placeholder="搜索..."
                                class="bg-gray-200 px-4 py-2 rounded-l-lg">
                            <button type="submit"
                                class="bg-blue-500 text-white px-4 py-2 rounded-r-lg hover:bg-blue-600">搜索</button>
                        </form>
                        <button @click="toggleShow"
                            class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 shadow-lg">投稿</button>

                </header>
            </el-header>
            <el-container class="bg-slate-100 fixed bottom-0 top-16 right-0 left-0" fill="fill">
                <el-container>
                    <el-aside class="bg-blue-500 text-white p-4 fixed top-16 left-0 bottom-16 w-48 rounded-r-lg">
                        <nav>
                            <div class="bg-sky-300 rounded-lg shadow-lg">
                                <p class="text-lg text-center">分类</p>
                                <ul class="list-none m-0 p-0">
                                    <li class="my-2" v-for="option in options" :key="option.value">
                                        <a href="#"
                                            class="block py-2 px-4 rounded-lg hover:bg-blue-600 hover:drop-shadow-lg">{{
                                            option.label }}</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </el-aside>
                </el-container>
                <el-container>
                    <el-main>
                        <el-container v-if="show"
                            class="input-box fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow-lg p-4"
                            style="z-index: 1000">
                            <div v-if="!submitMessage">
                                <!-- 添加URL输入框 -->
                                <el-space direction="vertical">
                                    <div>
                                        <input type="text" v-model="inputUrl" placeholder="请输入URL"
                                            class="w-full p-2 border rounded-lg mb-2">
                                    </div>
                                    <div>
                                        <!-- 添加分类选择器 -->
                                        <el-select v-model="inputCategory" class="m-2" placeholder="Select"
                                            size="large">
                                            <el-option v-for="item in options" :key="item.value" :label="item.label"
                                                :value="item.value" />
                                        </el-select>
                                    </div>
                                    <div>
                                        <el-row gutter="20">
                                            <el-col span="20">
                                                <button v-if="!submitMessage" @click="submit"
                                                    class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 shadow-lg">提交</button>
                                            </el-col>
                                            <el-col span="20">

                                                <button @click="dialogVisible = true"
                                                    class="bg-gray-400 text-white px-4 py-2 rounded-lg hover:bg-gray-500 shadow-lg">取消</button>
                                            </el-col>
                                        </el-row>

                                    </div>
                                </el-space>



                            </div>

                            <!-- 投稿成功信息 -->
                            <div v-else>
                                <div v-if="submitSuccess">
                                    <el-result icon="success" :title="submitMessage"></el-result>
                                </div>
                                <div v-else>
                                    <el-result icon="error" :title="submitMessage"></el-result>
                                </div>
                            </div>


                        </el-container>
                        <div>
                            <el-dialog v-model="dialogVisible" title="Tips" width="30%" draggable>
                                <span>确定取消吗</span>
                                <template #footer>
                                    <span class="dialog-footer">
                                        <el-button @click="dialogVisible = false">Cancel</el-button>
                                        <el-button type="primary" @click="handleConfirm" class="text-black">
                                            确定
                                        </el-button>
                                    </span>
                                </template>
                            </el-dialog>
                        </div>




                        <el-space class="ml-48">
                            <div v-if="!loaded">
                                <el-skeleton />
                                <br />
                                <el-skeleton style="--el-skeleton-circle-size: 100px">
                                    <template #template>
                                        <el-skeleton-item variant="circle" />
                                    </template>
                                </el-skeleton>
                            </div>

                            <div v-else>
                                <div v-if="covers">
                                    <el-space fill="fill">
                                        <div
                                            class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 gap-4 mb-4">
                                            <div v-for="cover in covers" :key="`cover-${cover.id}`"
                                                class="bg-gray-200 rounded-lg overflow-hidden hover:scale-105 transition-transform duration-300">
                                                <a :href="'https://www.bilibili.com/video/' + cover.bvid"
                                                    target="_blank">
                                                    <div class="bg-sky-300">
                                                        <img :src="cover.url" alt="视频封面" class="cover">
                                                        <el-popover placement="bottom-start" title="Title" :width="200"
                                                            trigger="hover"
                                                            content="this is content, this is content, this is content">
                                                            <template #reference>
                                                                <p class="cover-description">{{ cover.description }}</p>
                                                            </template>
                                                            <el-space direction="vertical">
                                                                <el-tag v-if="cover.id==16" class="ml-2" 
                                                                    type="success">好评如潮:{{ cover.vote
                                                                    }}/{{cover.id}}</el-tag>
                                                                <el-tag v-else-if="cover.id==17" class="ml-2"
                                                                    type="info">褒贬不一:{{ cover.vote
                                                                    }}/{{cover.id}}</el-tag>
                                                                <el-tag v-else-if="cover.id==18" class="ml-2"
                                                                    type="warning">多半差评:{{ cover.vote
                                                                    }}/{{cover.id}}</el-tag>
                                                                <el-tag v-else-if="cover.id==7" class="ml-2"
                                                                    type="danger">差评如潮:{{ cover.vote
                                                                    }}/{{cover.id}}</el-tag>
                                                                <el-rate size="small"  />

                                                            </el-space>

                                                        </el-popover>

                                                    </div>


                                                </a>
                                            </div>

                                        </div>
                                    </el-space>
                                </div>
                                <div v-else>
                                    <el-empty />
                                </div>

                            </div>


                        </el-space>

                    </el-main>
                    <el-footer class="bg-blue-600 h-16 fixed bottom-0 left-0 right-0">
                        <el-text class="mx-1" type="primary">Made with <3< /el-text>
                                </br>
                                <el-link href="about.html" target="_blank" class="mx-1" type="primary">About</el-link>
                    </el-footer>

                </el-container>

            </el-container>
        </el-container>







    </div>
</body>
<script>
    const ElLoading = ElementPlus.ElLoading;

    const app = Vue.createApp({
        data() {
            return {
                inputText: '',
                loaded: false,
                bvid: '',
                covers: [],
                groupedCovers: [],
                rowIndex: 1,
                options: [],
                searchTerm: '',
                show: false,
                inputUrl: '',
                inputCategory: '',
                submitSuccess: false,
                submitMessage: null,
                dialogVisible: false
            };
        },
        methods: {
            search: function () {
                if (!this.searchTerm) {
                    alert('搜索内容不能为空!');
                    return;
                }
                window.location.href = `search.html?s=${this.searchTerm}`;
            },
            openDialog() {
                console.log('openDialog');
                this.dialogVisible = true
            },
            closeDialog() {
                this.dialogVisible = false
            },
            toggleShow() {

                this.show = !this.show;
                console.log('toggleShow to ' + this.show);
            },
            hideInputBox() {
                this.show = false;
            },
            handleConfirm() {
                this.dialogVisible = false;
                this.hideInputBox();
            },
            async submit() {
                if (!this.inputUrl || !this.inputCategory) {
                    this.submitSuccess = false;
                    this.submitMessage = 'URL和分类不能为空!';
                    setTimeout(() => {
                        this.submitSuccess = false;
                        this.submitMessage = null;
                    }, 2000);
                    return;
                }
                try {
                    const response = await axios.post('http://localhost:8080/api/post/bili', {
                        url: this.inputUrl,
                        category: this.inputCategory
                    });
                    if (response.status == 200) {
                        this.inputUrl = '';
                        this.inputCategory = '';

                        this.submitSuccess = true;
                        this.submitMessage = '投稿成功!';

                        setTimeout(() => {
                            this.submitSuccess = false;
                            this.submitMessage = null;
                            this.show = false;
                        }, 2000);
                    } else {
                        console.error('Submit failed with status: ', response.status);
                    }
                } catch (error) {
                    console.error(error);
                }
            },
        },
        mounted() {
            const loading = ElLoading.service({
                lock: true,
                text: 'Loading',
                background: 'rgba(0, 0, 0, 0.7)',
            });
            setTimeout(() => {
                fetch('http://localhost:8080/api/getvbyc?c=' + c)
                    .then(response => response.json())
                    .then(data => {
                        this.covers = data;
                        console.log(data);

                        const categorySet = new Set(data.map(item => item.category));

                        this.options = Array.from(categorySet).map(category => {
                            return { value: category, label: category };
                        });
                    });
                this.loaded = true;
                loading.close();
            }, 2000);
        },
    });

    app.use(ElementPlus);
    app.mount('#app');

    // 获取当前URL
    var url = new URL(window.location.href);

    // 获取查询参数
    var c = url.searchParams.get("c");

    // 如果参数存在
    if (c) {
        // 使用查询参数来改变页面的内容
        document.getElementById("logo").innerHTML = "<h1 class=\"text-white text-lg \">" + c + "</h1>"
    } else {
        document.getElementById("logo").innerHTML = "No category specified";
    }
</script>

<style>
    .cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* 让图片铺满整个容器 */
    }

    .bw-mask {
        filter: grayscale(100%);
    }

    .cover-description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0.05rem;
        font-size: 3px;
        color:
            #333;
    }
</style>

</html>