<!DOCTYPE html>

<head>
    <!-- Import style -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
    <!-- Import Vue 3 -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Import component library -->
    <script src="https://unpkg.com/element-plus"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuex@4"></script>
    <title>分类</title>
</head>

<body id="app" class="p-10">
    <header id="app" class="flex justify-between items-center bg-blue-600 p-4 fixed top-0 right-0 left-0">
        <div id="logo" class="flex items-center">
            <div class="flex items-center">
                <img src="https://p1.ssl.qhimg.com/t01cf7f93a00e61e5e9.jpg" class="w-12 h-12 mr-2" alt="Logo">
            </div>
        </div>
        <div class="flex items-center space-x-4">
            <form @submit.prevent="search" class="search">
                <input type="text" v-model="searchTerm" placeholder="搜索..." class="bg-gray-200 px-4 py-2 rounded-l-lg">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-r-lg hover:bg-blue-600">搜索</button>
            </form>
            <button @click="showInputBox"
                class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 shadow-lg">投稿</button>
        </div>
    </header>

    <nav class="bg-blue-500 text-white p-4 fixed top-16 left-0 bottom-0 w-48 rounded-r-lg">
        <div class="bg-sky-300 rounded-lg shadow-lg">
            <p class="text-lg text-center">分类</p>
            <ul class="list-none m-0 p-0">
                <li class="my-2" v-for="option in options" :key="option.value">
                    <a href="#" class="block py-2 px-4 rounded-lg hover:bg-blue-600 hover:drop-shadow-lg">{{
                        option.label }}</a>
                </li>
            </ul>
        </div>
    </nav>


    <div v-if="$store.state.show"
        class="input-box fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg shadow-lg p-4">
        <div v-if="!$store.state.submitMessage">
            <!-- 添加URL输入框 -->
            <input type="text" v-model="$store.state.inputUrl" placeholder="请输入URL"
                class="w-full p-2 border rounded-lg mb-2">
            <!-- 添加分类选择器 -->
            <el-select v-model="$store.state.inputCategory" class="m-2" placeholder="Select" size="large">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" />
            </el-select>
            <button v-if="!$store.state.submitMessage" @click="submit"
                class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 w-1/2 shadow-lg">提交</button>
            <button @click="$store.commit('hideInputBox')"
                class="bg-gray-400 text-white px-4 py-2 rounded-lg hover:bg-gray-500 w-1/2 shadow-lg">取消</button>
        </div>

        <!-- 投稿成功信息 -->
        <div v-else>
            <div>{{$store.state.submitMessage}}</div>
        </div>


    </div>
    <div class="px-10 py-20 mt-10 mb-10 ml-10 mr-10">


        <div class="bg-gray-200 fixed top-16 bottom-0 left-48 right-0 overflow-y-auto">
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 gap-4 mb-4">
                <div v-for="cover in covers" :key="`cover-${cover.id}`"
                    class="bg-gray-200 rounded-lg overflow-hidden hover:scale-105 transition-transform duration-300">
                    <a v-if="cover.bvid" :href="'https://www.bilibili.com/video/' + cover.bvid" target="_blank">
                        <div class="bg-sky-300">
                            <img :src="cover.url" alt="视频封面" class="cover">
                            <p class="cover-description">{{ cover.description }}</p> <!-- 视频简介 -->
                        </div>
                    </a>
                    <div v-else class="bg-sky-300">
                        <img :src="cover.url" alt="视频封面" class="cover">
                        <p class="cover-description">{{ cover.description }}</p> <!-- 视频简介 -->
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
<script>
    const store = Vuex.createStore({
        state() {
            return {
                show: false,
                inputText: '', // 输入框的内容
                inputUrl: '', // URL输入框的内容
                inputCategory: '', // 分类选择器的值
                submitSuccess: false, // 投稿成功状态
                submitMessage: null,
            };
        },
        mutations: {
            toggleShow(state) {
                state.show = !state.show;
            },
            hideInputBox(state) {
                state.show = false;
            },
            updateInputText(state, newText) {
                state.inputText = newText;
            },
            updateInputUrl(state, newUrl) { // 更新URL输入框的内容
                state.inputUrl = newUrl;
            },
            updateInputCategory(state, newCategory) { // 更新分类选择器的值
                state.inputCategory = newCategory;
            },
            clearInputText(state) {
                state.inputText = '';
            },
            submit(state) {
                // 设置投稿成功状态和消息
                state.submitSuccess = true;
                state.submitMessage = '投稿成功!';

                // 延迟清除提交成功信息和状态
                setTimeout(() => {
                    state.submitSuccess = false;
                    state.submitMessage = null;
                    state.show = false;
                }, 2000);
            },

            resetSubmitSuccess(state) {
                state.submitSuccess = false;
            }
        },
        actions: {
            async submitPost({ commit, state }, payload) {
                try {
                    const response = await axios.post('http://localhost:8080/api/post/bili', payload);
                    if (response.status == 200) {
                        // 清空输入框和其他输入
                        state.inputUrl = '';
                        state.inputCategory = '';
                        // 设置投稿成功状态，调用 'submit' mutation
                        commit('submit');
                    } else {
                        console.error('Submit failed with status: ', response.status);
                    }
                } catch (error) {
                    console.error(error);
                }
            },
        }

    });


    const app = Vue.createApp({
        data() {
            return {
                inputText: '', // 输入框的内容
                loaded: false, // 是否加载完成的标志位
                bvid: '', // 视频的BV号
                covers: [], // 存储视频封面的数据
                groupedCovers: [],
                rowIndex: 1,
                options: [],    // 分类选择器的选项
                searchTerm: '', // 搜索框的内容
            };
        },
        methods: {
            showInputBox() {
                this.$store.commit('toggleShow');
            },
            submit() {
                this.$store.dispatch('submitPost', {
                    url: this.$store.state.inputUrl,
                    category: this.$store.state.inputCategory
                }).then(() => {
                    this.$store.commit('resetSubmitSuccess');
                })
            },
            search: function () {
                window.location.href = `search.html?s=${this.searchTerm}`;
            },
        },
        mounted() {
            setTimeout(() => {
                // 在这里获取视频封面的数据，例如从服务器获取
                // 假设获取到的数据是这样的：

                fetch('http://localhost:8080/api/getvbys?s=' + s)
                    .then(response => response.json())
                    .then(data => {
                        // 处理返回的视频数据
                        this.covers = data;

                        // 使用 Set 数据结构去除重复的 category
                        const categorySet = new Set(data.map(item => item.category));

                        // 将 Set 转换为数组，并映射到 options 数组中
                        this.options = Array.from(categorySet).map(category => {
                            return { value: category, label: category };
                        });
                    });
                this.loaded = true;
            }, 2000);
        },
    });

    app.use(store);
    app.use(ElementPlus);
    app.mount('#app');
    // 获取当前URL
    var url = new URL(window.location.href);

    // 获取查询参数
    var s = url.searchParams.get("s");

    // 如果参数存在
    if (s) {
        // 使用查询参数来改变页面的内容
        document.getElementById("logo").innerHTML = "<h1 class=\"text-white text-lg \">" + s + "</h1>"
    } else {
        document.getElementById("logo").innerHTML = "No category specified";
    }
</script>

<style>
    .cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* 让图片铺满整个容器 */
    }

    .bw-mask {
        filter: grayscale(100%);
    }

    .cover-description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0.05rem;
        font-size: 3px;
        color: #333;
    }
</style>